.introdution-head {
  background-color: var(--css-primary);
  color: var(--css-white);
  padding: 20px;
}
.head{
    font-size: 42px;
    font-weight: 800;
    width: 387px;
    word-wrap: break-word;
}
.head-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    word-wrap: break-word;
   height: 174px;
   width: 1132px;
}
.break-point{
    border-left: solid 1px #6a6a6a;
    height: 100px;
}
.message{
   width: 475px;
   height: 155px;
  margin-top: 12px;
}
.content-info{
    font-size: 15px;
    font-weight: 500;
    line-height: 24.25px;
    opacity: 30%;
}